pandas
numpy
scikit-learn
spacy
imbalanced-learn
matplotlib
seaborn
tqdm
gradio>=5.0.0
Pillow
requests
gdown
joblib
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
