pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
spacy==3.8.1
imbalanced-learn==0.12.4
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
streamlit==1.40.1
Pillow==11.0.0
requests==2.32.3
gdown==5.2.0
joblib==1.4.2
blis==0.7.10
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl